*{
    margin: 0;
    padding: 0%;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(banner1.jpg);
    background-position: center;
    background-size: contain;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Merriweather', serif;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    position: relative;
    font-size: 62px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow:
    /*3D layer*/
    0px 0px 1px rgb(167,167,167),
    0px 1px 1px rgb(167,167,167),
    0px 2px 1px rgb(167,167,167),
    
    1px 1px 1px rgb(167,167,167),
    1px 2px 1px rgb(167,167,167),
    1px 3px 1px rgb(167,167,167),

    2px 2px 1px rgb(167,167,167),
    2px 3px 1px rgb(167,167,167),
    2px 4px 1px rgb(167,167,167),

    /*long soft bottom*/
    1px 10px 30px rgba(0,0,0,0.8),
    1px 10px 70px rgba(0,0,0,0.8),

    /*short soft bottom*/
    0px 5px 5px rgba(0,0,0,0.8),

    /*left shadow*/
    -5px 5px 20px rgba(0,0,0,0.8),
    /*right shadow*/
    5px 5px 20px rgba(0,0,0,0.8),

    /*white light*/
    1px 1px 120px rgba(255,255,255,0.5);
    animation: cycle 0s linear infinite;
}
.text-box h1::after{
    content: "";
    font-size: 62px;
    letter-spacing: 5px;
    position: absolute;
    top: 11%;
    left: 31.3%;
    text-shadow: 0px 0px 100px rgba(11,124,199,0.5);
    animation: cycle 3s linear infinite;
}
@keyframes cycle {
    0% { text-shadow: 0px 0px 100px rgba(11,124,199,0.5);}
    20% { text-shadow: 0px 0px 100px rgba(168,11,199,0.5);}
    40% { text-shadow: 0px 0px 100px rgba(11,199,96,0.5);}
    60% { text-shadow: 0px 0px 100px rgba(199,11,11,0.5);}
    80% { text-shadow: 0px 0px 100px rgba(199,196,11,0.5);}
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*-----Words of Wisdom------*/

.wow{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.wow-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.wow-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-----------GOALS----------*/

.goals{
    width: 40%;
    margin: auto;
    text-align: center;
}
.goals-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.goals-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*--------About Me-------*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(backprof.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.aboutme{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.aboutme h1{
    color: black;
    padding-top: 0;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
    font-family: 'Kanit', sans-serif;
}
.about-col img{
    width: 100%;
}
.aboutme p{
    padding: 15px 0 25px;
    text-align: left;
}

/*----------Skills--------*/
.skills{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    padding: 10px;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: left;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.skills-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: black;
}
.skills-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*------ Education ------*/
.education{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    padding: 10px;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.education-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: black;
}
.education-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*------ Work Experiences ------*/

.work{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    padding: 10px;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.work-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: black;
}
.work-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*------ Contact ------*/

.contact{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
    padding: 10px;
}

p{
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: black;
}
.contact-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}